doctype html
html(lang="en")
  head
    title NPM
    link(rel="stylesheet" href="style.css")
  body   
    div.heading
      div.left
        ul
          li 
            a(href="#") Web
          li
            a(href="#") Images
          li
            a(href="#") Videos
          li
            a(href="#") Maps
          li
            a(href="#") News
          li
            a(href="#") Shopping
          li
            a(href="#") Gmail
          li
            a(href="#") More
      div.right
        ul
          li
            a(href="#") iGoogle
          li
            a(href="#") Search settings
          li
            a(href="#") Sign in
    div.main
      img(src="http://thejizn.com/wp-content/uploads/2016/09/google-products-services.png" alt = "")
      textarea(rows="1" wrap="off")
      form.buttt
        button Goggle Search
        button I'm Felling Lucky
    div.foot
      div.top
        ul
          li
            a(href="#") Advertising Programs
          li
            a(href="#") Business Solutions
          li
            a(href="#") About Google
          li
            a(href="#") Go to Google China
      div.bot
        span &copy; 2009
        a Privacy


        
        